<div class="panel-footer text-right">
    <?php foreach ($footer as $id => $button): ?>
        <a id="panel-footer-button-<?= $id ?>" href="<?= $button['href'] ?>" class="btn btn-<?= $button['colorType'] ?> btn-sm"><?= $button['value'] ?></a>
    <?php endforeach; ?>
</div>