<div class="panel-heading">
    <?php if (isset($heading['buttons'])): ?>
        <div class="panel-heading-btn">
            <?php foreach ($heading['buttons'] as $id => $button): ?>
                <a
                    id="panel-heading-button-<?= $id ?>"
                    href="<?= $button['href'] ?>"
                    class="btn btn-xs btn-icon btn-circle btn-<?= $button['colorType'] ?>"
                    <?= isset($button['dataClick']) ? 'data-click="' . $button['dataClick'] . '"' : '' ?>
                >
                    <i class="fa <?= $button['faClass'] ?>"></i>
                </a>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
    <h4 class="panel-title"><?= $this->exists('translate') ? $this->translate($heading['title']) : $heading['title'] ?></h4>
</div>