<div class="panel panel-<?= $type ?>">
    <?php if ($heading): ?>
        <?= $this->partial('color-admin/helper/panel/header', ['heading' => $heading]); ?>
    <?php endif; ?>
    <?php if ($body): ?>
        <div class="panel-body">
            <?= $body; ?>
        </div>
    <?php endif; ?>
    <?php if ($footer): ?>
        <?= $this->partial('color-admin/helper/panel/footer', ['footer' => $footer]); ?>
    <?php endif; ?>
</div>