<?= $this->pageHeader($this->translate('Category')); ?>
<div class="row">
	<div class="col-md-12">
      <?= $this->panel(
          \paml\Layouts\ColorAdmin\Module::COLOR_TYPE_DEFAULT,
          [
              'title' => $object ? 'Edit' : 'Create',
          ],
          $this->partial('application/admin/category/partial/form.phtml')
      ); ?>
	</div>
</div>
