<?= $this->pageHeader($this->translate('Categories list')); ?>
<div class="row">
	<div class="col-md-12">
      <?= $this->panel(
          \paml\Layouts\ColorAdmin\Module::COLOR_TYPE_DEFAULT,
          [
              'title' => 'List'
          ],
          $this->partial('application/admin/category/partial/list.phtml')
      ); ?>
	</div>
</div>
