<?= $object && $object->getFile() ? '<a class="btn btn-block btn-success" href="' . $this->file($object->getFile())
        ->download() . '">' . $this->translate('Download') . '</a>' :
    'brak obrazka' ?>
<br>
<?= $object && $object->getFile() ? '<img class="img-responsive" src="' . $this->file($object->getFile())->view() . '">' : 'brak obrazka' ?>