<?php

echo $this->headLink()->appendStylesheet($this->basePath() . '/plugins/select2/dist/css/select2.min.css');
echo $this->inlineScript()->appendFile($this->basePath() . '/plugins/select2/dist/js/select2.min.js');

$form->setAttribute('class', 'form-horizontal');
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formElement($form->get('csrf'));
use Application\Entity\Post; ?>
    <div class="form-group">
        <?= $this->formLabel($form->get(Post::NAME)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(Post::NAME)) ?>
            <?= $this->formElementErrors($form->get(Post::NAME)) ?>
        </div>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get(Post::CATEGORY)) ?>
        <div class="col-sm-10">
            <?= $this->formSelect($form->get(Post::CATEGORY)) ?>
            <?= $this->formElementErrors($form->get(Post::CATEGORY)) ?>
        </div>
    </div>
		<div class="form-group">
		    <?= $this->formLabel($form->get(Post::TAGS)) ?>
			<div class="col-sm-10">
		      <?= $this->formElement($form->get(Post::TAGS)) ?>
		      <?= $this->formElementErrors($form->get(Post::TAGS)) ?>
			</div>
		</div>
    <div class="form-group">
        <?= $this->formLabel($form->get(Post::CONTENT)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(Post::CONTENT)) ?>
            <?= $this->formElementErrors($form->get(Post::CONTENT)) ?>
        </div>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get(Post::FILE)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(Post::FILE)) ?>
            <?= $this->formElementErrors($form->get(Post::FILE)) ?>
        </div>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get(Post::VISIBLE)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(Post::VISIBLE)) ?>
            <?= $this->formElementErrors($form->get(Post::VISIBLE)) ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <?= $this->formSubmit($form->get('submit')); ?>
        </div>
    </div>
<?= $this->form()->closeTag(); ?>
<script>
	$(document).ready(function () {
			$('#js-<?= Post::CATEGORY ?>').select2();
			$('#js-<?= Post::TAGS ?>').select2();
	});
</script>
