<h1 class="page-header">
<?php if ($this->exists('translate')): ?>
    <?= $this->translate($bigValue) ?> <?= $smallValue ? '<small>' . $this->translate($smallValue) . '</small>' : '' ?>
<?php else: ?>
    <?= $bigValue ?> <?= $smallValue ? '<small>' . $smallValue . '</small>' : '' ?>
<?php endif; ?>
</h1>