<?php
use paml\Auth\Operation\Form\RoleForm;

$form->prepare();
echo $this->form()->openTag($form);
echo $this->formElement($form->get(RoleForm::CSRF));
?>
    <div class="form-group row">
        <?= $this->formLabel($form->get(RoleForm::NAME)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(RoleForm::NAME)) ?>
            <?= $this->formElementErrors($form->get(RoleForm::NAME)) ?>
        </div>
    </div>
    <div class="form-group row">
        <?= $this->formLabel($form->get(RoleForm::ACTIVE)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(RoleForm::ACTIVE)) ?>
            <?= $this->formElementErrors($form->get(RoleForm::ACTIVE)) ?>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <?= $this->formSubmit($form->get(RoleForm::SUBMIT)); ?>
        </div>
    </div>
<?= $this->form()->closeTag(); ?>