<a class="btn btn-block btn-default" href="<?= $this->url('auth/operation/role', ['action' => 'add']) ?>"><?=
    $this->translate('Add role') ?></a>
<hr>
<table class="table">
    <thead>
    <tr>
        <th><?= $this->translate('#') ?></th>
        <th><?= $this->translate('Name') ?></th>
        <th><?= $this->translate('Date add') ?></th>
        <th><?= $this->translate('Active') ?></th>
        <th><?= $this->translate('Deleted') ?></th>
        <th><?= $this->translate('Action') ?></th>
    </tr>
    </thead>
    <tbody>
    <?php /** @var \paml\Auth\Entity\Role $role */ ?>
    <?php foreach ($roles as $key => $role): ?>
        <tr>
            <td><?= ($key + 1) ?></td>
            <td><?= $role->getName() ?></td>
            <td><?= $role->getDateAdd()->format('d.m.Y H:i:s') ?></td>
            <td><?= $role->getActive() ? $this->translate('Yes') : $this->translate('No') ?></td>
            <td><?= $role->getDateDelete() ? $this->translate('Yes') : $this->translate('No') ?></td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-primary" href="<?= $this->url('auth/operation/role', ['action' => 'add', 'id' =>
                        $role->getId()]) ?>"><?= $this->translate('Edit') ?></a>
                    <?php if ($role->getDateDelete()): ?>
			                <a class="btn btn-success" href="<?= $this->url('auth/operation/role', ['action'=> 'restore', 'id'
                      => $role->getId()]) ?>"><?= $this->translate('Restore') ?></a>
                    <?php else: ?>
			                <a class="btn btn-danger" href="<?= $this->url('auth/operation/role', ['action'=> 'delete', 'id'
			                => $role->getId()]) ?>"><?= $this->translate('Delete') ?></a>
                    <?php endif; ?>
                </div>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>