<ul class="nav navbar-nav">
    <?php $count = 0 ?>
    <?php foreach ($this->container as $page): ?>
        <?php if( ! $page->isVisible() || !$this->navigation()->accept($page)) continue; ?>
        <?php $hasChildren = $page->hasPages() ?>
        <?php if( ! $hasChildren): ?>
            <li <?php if($page->isActive()) echo 'class="active"'?>>
                <a class="nav-header" href="<?php echo $page->getHref() ?>">
                    <?php echo $this->translate($page->getLabel()) ?>
                </a>
            </li>
        <?php else: ?>
            <li
		            <?php $active = ''; ?>
                <?php foreach ($page->getPages() as $child): ?>
									<?php if ($child->isActive()): ?>
										<?php $active = ' active'; break; ?>
		              <?php endif; ?>
		            <?php endforeach; ?>
		            class="dropdown <?= $active ?>"
            >
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span><?php echo $this->translate($page->getLabel()) ?></span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="page_<?php echo $count ?>">
                    <?php foreach($page->getPages() as $child): ?>
                        <?php if( ! $child->isVisible() || !$this->navigation()->accept($child)) continue; ?>
                        <li <?= $child->isActive() ? 'class="active"' : '' ?>>
                            <a href="<?php echo $child->getHref() ?>">
                                <?php echo $this->translate($child->getLabel()) ?>
                            </a>
                        </li>
                    <?php endforeach ?>
                </ul>
            </li>
        <?php endif ?>
        <?php $count++ ?>
    <?php endforeach ?>
</ul>
