<div class="row">
    <div class="col-md-3 text-right">
        <?= $this->translate('User name') ?>:
    </div>
    <div class="col-md-9">
        <?= $user->getName() != '' ? $user->getName() : $this->translate('No data') ?>
    </div>
    <div class="col-md-3 text-right">
        <?= $this->translate('User surname'); ?>:
    </div>
    <div class="col-md-9">
        <?= $user->getSurname() != '' ? $user->getSurname() : $this->translate('No data') ?>
    </div>
    <div class="col-md-3 text-right">
        <?= $this->translate('User login'); ?>:
    </div>
    <div class="col-md-9">
        <?= $user->getLogin() != '' ? $user->getLogin() : $this->translate('No data') ?>
    </div>
    <div class="col-md-3 text-right">
        <?= $this->translate('User email'); ?>:
    </div>
    <div class="col-md-9">
        <?= $user->getEmail() ?>
    </div>
    <div class="col-md-12">
        <a class="btn btn-block btn-primary" href="<?= $this->url('auth/operation/manage', ['action' => 'edit']) ?>"><?=
            $this->translate
            ('Edit data')
            ?></a>
        <a class="btn btn-block btn-danger" href="<?= $this->url('auth/operation/manage', ['action' => 'delete'])
        ?>"><?=
            $this->translate
            ('Delete account')
            ?></a>
    </div>
</div>