<?php foreach ($roles as $role) : ?>
    <li>
        <a href="<?= $this->url('auth/change-role', ['id' => $role['id']]) ?>"><?= $this->translate('Change role to') ?> <?= $this->translate($role['name']); ?></a>
    </li>
<?php endforeach; ?>
