<li id="<?= $notification->getId() ?>" class="js-notification-element" class="media">
    <a href="<?= $this->url('notification', ['action' => 'show', 'id' => $notification->getId()]) ?>">
        <div class="media-body">
            <h6 class="media-heading"><?= $this->translate($notification->getNotification()['text']); ?></h6>
            <div class="text-muted f-s-11"><?= $time ?> <?= $this->translate('ago'); ?></div>
        </div>
    </a>
</li>
