<?php foreach ($posts as $post) : ?>
    <h3><?= $post->getName() ?> <small><?= $post->getDateAdd()->format('d.m.Y H:i') ?></small></h3>
    <a href="<?= $this->url('home/post', ['slug' => ($post->getSlug() != '' ?
      $post->getSlug() : $post->getId())]);
                ?>"><?=
      $this->translate('More')
?>...</a>
<?php endforeach; ?>
