<?php if ($post->getFile()) : ?>
    <img src="<?= $this->file($post->getFile())->view() ?>"><br>
<?php endif; ?>
<?= $post->getName(); ?> <br>
<?= $post->getCont(); ?>
<?= $this->form()->render($form); ?>
<div id="comments"></div>
<script>
    $(document).ready(function () {
        loadComments();
        $('#js-comment-form').on('submit', function (event) {
            event.preventDefault();
            $('#js-post-id').val('<?= $post->getId() ?>')
            $.ajax({
              url: $(this).attr('action'),
              type: 'post',
              dataType: 'json',
              data: $('#js-comment-form').serialize(),
              success: function (response) {
                  $(':input', '#js-comment-form')
                      .not(':button, :submit, :reset, :hidden')
                      .val('')
                      .prop('checked', false)
                      .prop('selected', false);
                  loadComments();
              },
              error: function (error, response) {
                  console.log(error);
                  console.log(response);
              }
            })
        })
    });

    function loadComments() {
        $.ajax({
            url: '/api/posts/<?= $post->getId() ?>',
            type: 'get',
            dataType: 'json',
            success: function (response) {
                let comments = '';
                for (let i = 0; i < response.comments.length; i++) {
                    $.ajax({
                        url: '/api/comments/' + response.comments[i].id,
                        type: 'get',
                        dataType: 'json',
                        async: false,
                        success: function (comment) {
                            comments += '<hr>' +
                                '<?= $this->translate('Name'); ?>: ' +
                                comment.name +
                                ', <?= $this->translate('Date add') ?>: ' +
                                comment.dateAdd +
                                '<br>' +
                                comment.cont;
                        }
                    });
                }

                $('#comments').html(comments);
            },
            error: function (response) {
                console.log(response);
            }
        });
    }
</script>
