<?= $this->doctype() ?>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <link rel="manifest" href="./manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Calendar">
    <meta name="apple-mobile-web-app-title" content="Calendar">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <?= $this->headTitle($this->translate(\Application\Module::APP_NAME))->setSeparator(' - ')->setAutoEscape(false) ?>
    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath() . '/plugins/gritter/css/jquery.gritter.css')
        ->prependStylesheet($this->basePath() . '/css/theme/default.css', 'screen', '', ['id' => 'theme'])
        ->prependStylesheet($this->basePath() . '/css/style-responsive.min.css')
        ->prependStylesheet($this->basePath() . '/css/style.min.css')
        ->prependStylesheet($this->basePath() . '/css/animate.min.css')
        ->prependStylesheet($this->basePath() . '/plugins/font-awesome/css/font-awesome.min.css')
        ->prependStylesheet($this->basePath() . '/plugins/bootstrap/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath() . '/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css')
    ?>
    <?= $this->headScript()
        ->prependFile($this->basePath() . '/plugins/pace/pace.min.js')
        ->prependFile($this->basePath() . '/plugins/jquery/jquery-1.9.1.min.js')
        ->appendFile($this->basePath() . '/plugins/gritter/js/jquery.gritter.js')
    ?>
</head>
<body class="pace-top">
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<div id="page-container" class="fade">
    <?= $this->partial('color-admin/element/flash-messages') ?>
    <?= $content ?>
</div>
<?= $this->inlineScript()
    ->appendFile($this->basePath() . '/plugins/jquery/jquery-migrate-1.1.0.min.js')
    ->appendFile($this->basePath() . '/plugins/jquery-ui/ui/minified/jquery-ui.min.js')
    ->appendFile($this->basePath() . '/plugins/bootstrap/js/bootstrap.min.js')
    ->appendFile($this->basePath() . '/plugins/slimscroll/jquery.slimscroll.min.js')
    ->appendFile($this->basePath() . '/plugins/jquery-cookie/jquery.cookie.js')
    ->appendFile($this->basePath() . '/plugins/bootstrap-show-password/bootstrap-show-password.js')
    ->appendFile($this->basePath() . '/plugins/password-indicator/js/password-indicator.js')
    ->appendFile($this->basePath() . '/js/apps.min.js');
?>
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
</body>
</html>
