<?= $this->pageHeader($this->translate('Post')); ?>
<div class="row">
	<div class="col-md-12">
      <?= $this->panel(
          \paml\Layouts\ColorAdmin\Module::COLOR_TYPE_INVERSE,
          [
              'title' => $object ? 'Edit' : 'Create',
          ],
          $this->partial('application/admin/post/partial/form.phtml')
      ); ?>
	</div>
</div>

<?php if ($object): ?>
	<div class="row">
		<div class="col-md-8">
        <?= $this->panel(
            \paml\Layouts\ColorAdmin\Module::COLOR_TYPE_WARNING,
            [
                'title' => $this->translate('Comments') . sprintf(' (%d)', count($object->getComments())),
            ],
            $this->partial('application/admin/post/partial/comments.phtml')
        ); ?>
		</div>
		<div class="col-md-4">
        <?= $this->panel(
            \paml\Layouts\ColorAdmin\Module::COLOR_TYPE_INFO,
            [
                'title' => $this->translate('File'),
            ],
            $this->partial('application/admin/post/partial/file.phtml')
        ); ?>
		</div>
	</div>
<?php endif; ?>
