<?= $this->pageHeader($this->translate('Posts list')); ?>
<div class="row">
	<div class="col-md-12">
		<?= $this->panel(
				\paml\Layouts\ColorAdmin\Module::COLOR_TYPE_INVERSE,
				[
						'title' => 'List'
				],
				$this->partial('application/admin/post/partial/list.phtml')
		); ?>
	</div>
</div>
