<?php
use paml\Auth\Operation\Form\UserForm;

$form->prepare();
echo $this->form()->openTag($form);
echo $this->formElement($form->get(UserForm::CSRF));
?>
    <div class="form-group row">
        <?= $this->formLabel($form->get(UserForm::NAME)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(UserForm::NAME)) ?>
            <?= $this->formElementErrors($form->get(UserForm::NAME)) ?>
        </div>
    </div>
    <div class="form-group row">
        <?= $this->formLabel($form->get(UserForm::SURNAME)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(UserForm::SURNAME)) ?>
            <?= $this->formElementErrors($form->get(UserForm::SURNAME)) ?>
        </div>
    </div>
    <div class="form-group row">
        <?= $this->formLabel($form->get(UserForm::EMAIL)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(UserForm::EMAIL)) ?>
            <?= $this->formElementErrors($form->get(UserForm::EMAIL)) ?>
        </div>
    </div>
    <div class="form-group row">
        <?= $this->formLabel($form->get(UserForm::LOGIN)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(UserForm::LOGIN)) ?>
            <?= $this->formElementErrors($form->get(UserForm::LOGIN)) ?>
        </div>
    </div>
    <div class="form-group row">
        <?= $this->formLabel($form->get(UserForm::ROLES)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(UserForm::ROLES)) ?>
            <?= $this->formElementErrors($form->get(UserForm::ROLES)) ?>
        </div>
    </div>
    <div class="form-group row">
        <?= $this->formLabel($form->get(UserForm::DEFAULT_ROLE)) ?>
        <div class="col-sm-10">
            <?= $this->formElement($form->get(UserForm::DEFAULT_ROLE)) ?>
            <?= $this->formElementErrors($form->get(UserForm::DEFAULT_ROLE)) ?>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <?= $this->formSubmit($form->get(UserForm::SUBMIT)); ?>
        </div>
    </div>
<?= $this->form()->closeTag(); ?>