<a class="btn btn-block btn-default" href="<?= $this->url('auth/operation/user', ['action' => 'add']) ?>"><?=
    $this->translate('Add user') ?></a>
<hr>
<table class="table">
    <thead>
    <tr>
        <th><?= $this->translate('#') ?></th>
        <th><?= $this->translate('Name') ?></th>
        <th><?= $this->translate('Surname') ?></th>
        <th><?= $this->translate('Email') ?></th>
        <th><?= $this->translate('Date add') ?></th>
        <th><?= $this->translate('Active') ?></th>
        <th><?= $this->translate('Deleted') ?></th>
        <th><?= $this->translate('Action') ?></th>
    </tr>
    </thead>
    <tbody>
    <?php /** @var \paml\Auth\Entity\User $user */ ?>
    <?php foreach ($users as $key => $user): ?>
        <tr>
            <td><?= ($key + 1) ?></td>
            <td><?= $user->getName() ?></td>
            <td><?= $user->getSurname() ?></td>
            <td><?= $user->getEmail() ?></td>
            <td><?= $user->getDateAdd()->format('d.m.Y H:i:s') ?></td>
            <td><?= $user->isActive() ? $this->translate('Yes') : $this->translate('No') ?></td>
            <td><?= $user->getDateDelete() ? $this->translate('Yes') : $this->translate('No') ?></td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-primary" href="<?= $this->url('auth/operation/user', ['action' => 'add', 'id' => $user->getId()]) ?>"><?= $this->translate('Edit') ?></a>
	                  <?php if ($user->getDateDelete()): ?>
		                  <a class="btn btn-success" href="<?= $this->url('auth/operation/user', ['action'=> 'restore', 'id'
		                  => $user->getId()]) ?>"><?= $this->translate('Restore') ?></a>
	                  <?php else: ?>
                      <a class="btn btn-danger" href="<?= $this->url('auth/operation/user', ['action'=> 'delete', 'id' => $user->getId()]) ?>"><?= $this->translate('Delete') ?></a>
	                  <?php endif; ?>
                </div>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>