<script>
    $(document).ready(function () {
        let style = 'background: #2d353c !important;' +
            'position: relative;' +
            'line-height: inherit;' +
            'border: none !important;' +
            'color: #fff !important;' +
            '-webkit-border-radius: 3px !important;' +
            '-moz-border-radius: 3px !important;' +
            'border-radius: 3px !important;' +
            'padding: 3px 7px !important;';
        $(table$).on('draw.dt', function () {
            let formData = $('#<?= $form->getAttribute('id') ?>').serializeArray();
            let jsFilterTags = new Array();
            for (let i = 0; i < formData.length; i++) {
                let tagText = null;
                let formElement = null;
                let formDataIName = formData[i].name;

                if (formDataIName.includes('[]')) {
                    formDataIName = formDataIName.slice(0, formDataIName.length - 1);
                    formDataIName = formDataIName.slice(0, formDataIName.length - 1);
                }
                if (formData[i].value != '' && formDataIName != '<?= $formText ?>') {
                    formElement = $('#js-<?= $form->getAttribute('name') ?>-' + formDataIName.split('.').join(''));
                    if (formElement.attr('multiple')) {
                        for (let j = 0; j < formElement.children('option:selected').length; j++) {
                            let child = formElement.children('option:selected')[j];
                            if (formData[i].value == $(child).val()) {
                                tagText = formElement.attr('data-searchname') + ': ' + $(child).text() + ' ';
                                break;
                            }
                        }
                    } else {
                        tagText = formElement.attr('data-searchname') + ': ' + formElement.children('option:selected').text() + ' ';
                    }
                } else if (formData[i].name == '<?= $formText ?>' && formData[i].value != ''){
                    tagText = '<?= $this->translate('Search') ?>: ' + formData[i].value;
                }

                if (tagText) {
                    let tagTextLength = tagText.length + 1;
                    let colNumber = Math.ceil(tagTextLength / 20);
                    if (formElement) {
                        let text = '' +
                            '<div class="col-md-' + colNumber + ' m-r-5" style="' + style + '">' +
                            '' + tagText + ' ' +
                            '<span data-form-element="' + formElement.attr('id') + '" class="pull-right js-remove-filter" style="color: red; cursor: pointer">X</span>' +
                            '</div>';
                        jsFilterTags.push(text);
                    } else {
                        let text = '' +
                            '<div class="col-md-' + colNumber + ' m-r-5" style="' + style + '">' +
                            '' + tagText + ' ' +
                            '<span data-form-element="' + null + '" class="pull-right js-remove-filter" style="color: red; cursor: pointer">X</span>' +
                            '</div>';
                        jsFilterTags.push(text);
                    }
                }
            }

            if (jsFilterTags.length) {
                $('<?= $container ?>').html(jsFilterTags.toString().replace('/,/', ''));
            }
        });

        $('body').on('click', '.js-remove-filter', function () {
            $('#<?= $form->getAttribute('id') ?>')[0].reset();
            if ($(this).attr('data-form-element')) {
                $('#' + $(this).attr('data-form-element')).val(null).trigger('change');
            }
            $(this).parent().remove();
            table$.DataTable().draw();
        });
    });
</script>
