<table id="<?= $tableName ?>" class="table table-striped table-bordered responsive" style="width: 100%">
    <thead>
    <tr>
        <?php foreach ($headers as $header): ?>
            <th><?= $this->translate($header['name']); ?></th>
        <?php endforeach; ?>
    </tr>
    </thead>
</table>
