<?php

echo $this->headLink()->appendStylesheet($this->basePath() . '/plugins/select2/dist/css/select2.min.css');
echo $this->inlineScript()->appendFile($this->basePath() . '/plugins/select2/dist/js/select2.min.js');

$form->setAttribute('class', 'form-horizontal');
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formElement($form->get('csrf'));

use Application\Entity\Category; ?>
<div class="form-group">
    <?= $this->formLabel($form->get(Category::NAME)) ?>
    <div class="col-sm-10">
        <?= $this->formElement($form->get(Category::NAME)) ?>
        <?= $this->formElementErrors($form->get(Category::NAME)) ?>
    </div>
</div>
<div class="form-group">
    <?= $this->formLabel($form->get(Category::PARENT)) ?>
    <div class="col-sm-10">
        <?= $this->formElement($form->get(Category::PARENT)) ?>
        <?= $this->formElementErrors($form->get(Category::PARENT)) ?>
    </div>
</div>
<div class="form-group">
    <?= $this->formLabel($form->get(Category::VISIBLE)) ?>
    <div class="col-sm-10">
        <?= $this->formElement($form->get(Category::VISIBLE)) ?>
        <?= $this->formElementErrors($form->get(Category::VISIBLE)) ?>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <?= $this->formSubmit($form->get('submit')); ?>
    </div>
</div>
<?= $this->form()->closeTag(); ?>
<script>
	$(document).ready(function () {
		$('#js-<?= Category::PARENT ?>').select2();
	});
</script>