<div class="btn-group btn-group-xs">
    <a href="<?= $this->url($route, array_merge($params, ['action' => 'add', 'id' => $id])); ?>" class="btn
    btn-primary"><?= $this->translate('Edit');
    ?></a>
    <a href="<?= $this->url($route, array_merge($params, ['action' => 'delete', 'id' => $id])); ?>" class="btn btn-danger"><?= $this->translate
		    ('Delete'); ?></a>
</div>
