<ol class="breadcrumb pull-right">
    <?php foreach ($pages as $key => $page): ?>
        <li<?= ($key < count($pages) - 1) ? ' class="active"' : '' ?>>
            <?php if ($key < count($pages) - 1): ?>
                <a href="<?= $page->getHref() ?>"><?= $this->translate($page->getLabel()) ?></a>
            <?php else: ?>
                <?= $this->translate($page->getLabel()); ?>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
</ol>
