<?php
$flash = $this->flashMessenger();
$successMessages = $flash->getSuccessMessages();
foreach ($successMessages as $message) {
    if (is_array($message)) {
        foreach ($message as $item) {
            echo '<script>$(document).ready(function () {$.gritter.add({title: "' . $this->translate('Success') . '", text: "' . $this->translate($item) . '"});});</script>';
        }
    } else {
        echo '<script>$(document).ready(function () {$.gritter.add({title: "' . $this->translate('Success') . '", text: "' . $this->translate($message) . '"});});</script>';
    }
}
$errorMessages = $flash->getErrorMessages();
foreach ($errorMessages as $message) {
    if (is_array($message)) {
        foreach ($message as $item) {
            echo '<script>$(document).ready(function () {$.gritter.add({title: "' . $this->translate('Error') . '", text: "' . $this->translate($item) . '"});});</script>';
        }
    } else {
        echo '<script>$(document).ready(function () {$.gritter.add({title: "' . $this->translate('Error') . '", text: "' . $this->translate($message) . '"});});</script>';
    }
}
$defaultMessages = $flash->getMessages();
foreach ($defaultMessages as $message) {
    if (is_array($message)) {
        foreach ($message as $item) {
            echo '<script>$(document).ready(function () {$.gritter.add({title: "", text: "' . $this->translate($item) . '"});});</script>';
        }
    } else {
        echo '<script>$(document).ready(function () {$.gritter.add({title: "", text: "' . $this->translate($message) . '"});});</script>';
    }
}
$warningMessages = $flash->getWarningMessages();
foreach ($warningMessages as $message) {
    if (is_array($message)) {
        foreach ($message as $item) {
            echo '<script>$(document).ready(function () {$.gritter.add({title: "' . $this->translate('Warning') . '", text: "' . $this->translate($item) . '"});});</script>';
        }
    } else {
        echo '<script>$(document).ready(function () {$.gritter.add({title: "' . $this->translate('Warning') . '", text: "' . $this->translate($message) . '"});});</script>';
    }
}
$infoMessages = $flash->getInfoMessages();
foreach ($infoMessages as $message) {
    if (is_array($message)) {
        foreach ($message as $item) {
            echo '<script>$(document).ready(function () {$.gritter.add({title: "' . $this->translate('Info') . '", text: "' . $this->translate($item) . '"});});</script>';
        }
    } else {
        echo '<script>$(document).ready(function () {$.gritter.add({title: "' . $this->translate('Info') . '", text: "' . $this->translate($message) . '"});});</script>';
    }
}


