<div id="header" class="header navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><span class="navbar-logo"></span> <?= \Application\Module::APP_NAME ?></a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <?php if ($this->exists(\paml\Layouts\ColorAdmin\Helper\SystemNotificationHelper::class)): ?>
                <?= $this->partial('color-admin/element/header/notifications') ?>
            <?php endif ?>
            <?= $this->partial('color-admin/element/header/user') ?>
        </ul>
    </div>
</div>
