<div id="sidebar" class="sidebar">
    <div data-scrollbar="true" data-height="100%">
        <?php if ($this->exists('identity') && $this->identity()): ?>
            <?= $this->partial('color-admin/element/sidebar/user') ?>
            <?= $this->navigation()
                    ->menu($this->identity()['activeRole']['slug'])
                    ->setMinDepth(0)
                    ->setMaxDepth(3)
                    ->setUlClass('nav')
                    ->setPartial('color-admin/element/sidebar/navigation')
            ?>
        <?php elseif ($navigationName): ?>
            <?= $this->navigation()
                ->menu($navigationName)
                ->setMinDepth(0)
                ->setMaxDepth(3)
                ->setUlClass('nav')
                ->setPartial('color-admin/element/sidebar/navigation')
            ?>
        <?php else: ?>
            <?= $this->navigation()
                ->menu('default')
                ->setMinDepth(0)
                ->setMaxDepth(3)
                ->setUlClass('nav')
                ->setPartial('color-admin/element/sidebar/navigation')
            ?>
        <?php endif; ?>
    </div>
</div>
<div class="sidebar-bg"></div>
