<?php
$container = $this->container;

if ($container):
?>
<ul class="<?= $this->navigation($container)->menu()->getUlClass(); ?>">
    <?php foreach ($container as $page): ?>
        <?php $hasChildren = $page->hasPages(); ?>
        <?php
        $active = false;
        if ($hasChildren) {
            foreach ($page->getPages() as $child) {
                if ($child->isActive()) {
                    $active = true;
                }
            }
        }
        ?>
        <li class="has-sub <?= $page->isActive() || $active ? 'active' : '' ?>">
            <?php if ($hasChildren): ?>
            <a href="javascript:;">
                <?php else: ?>
                <a href="<?= $page->getHref(); ?> <?php if ($page->getTarget() !== '') echo $page->getTarget(); ?>">
                    <?php endif; ?>
                    <?php if ($hasChildren): ?>
                        <b class="caret pull-right"></b>
                    <?php endif; ?>
                    <?php if ($page->get('icon') !== '') echo '<i class="' . $page->get('icon') . '"></i>'; ?>
                    <span><?= $this->translate($page->getLabel()) ?></span>
                </a>
                <?php if ($hasChildren): ?>
                    <ul class="sub-menu">
                        <?php foreach ($page->getPages() as $child): ?>
                            <?php $hasChildren2 = $child->hasPages(); ?>
                            <?php
                            $active2 = false;
                            if ($hasChildren2) {
                                foreach ($child->getPages() as $child2) {
                                    if ($child2->isActive()) {
                                        $active2 = true;
                                    }
                                }
                            }
                            ?>
                            <li class="<?= $hasChildren2 ? 'has-sub' : '' ?> <?= $child->isActive() || $active2 ? 'active' : '' ?>">
                                <?php if ($hasChildren2): ?>
                                <a href="javascript:;">
                                    <?php else: ?>
                                    <a href="<?= $child->getHref(); ?> <?php if ($child->getTarget() !== '') echo $child->getTarget(); ?>">
                                        <?php endif; ?>
                                        <?php if ($hasChildren2): ?>
                                            <b class="caret pull-right"></b>
                                        <?php endif; ?>
                                        <?php if ($child->get('icon') !== '') echo '<i class="' . $child->get('icon') . '"></i>'; ?>
                                        <span><?= $this->translate($child->getLabel()) ?></span>
                                    </a>
                                    <?php if ($hasChildren2): ?>
                                        <ul class="sub-menu">
                                            <?php foreach ($child->getPages() as $child2): ?>
                                                <li<?= $child2->isActive() ? ' class="active"' : ''; ?>>
                                                    <a href="/<?= $child2->getRoute() . '/' . $child2->getAction(); ?>">
                                                        <?php if ($child2->get('icon') !== '') echo '<i class="' . $child2->get('icon') . '"></i>'; ?>
                                                        <?= $this->translate($child2->getLabel()); ?>
                                                    </a>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    <?php endif; ?>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
        </li>
    <?php endforeach; ?>
    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
</ul>
<?php endif; ?>
