<?php
$user = $this->identity();
if ((isset($user['name']) && $user['name'] != '') && (isset($user['surname']) && $user['surname'] != '')) {
    $userName = $user['name'] . ' ' . $user['surname'];
} elseif (isset($user['login']) && $user['login'] != '') {
    $userName = $user['login'];
} else {
    $userName = $user['email'];
}
?>
<ul class="nav">
    <li class="nav-profile">
        <div class="info">
            <?= $userName ?>
            <small><?= $this->translate($user['activeRole']['name']); ?></small>
        </div>
    </li>
</ul>
