<li class="dropdown">
    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14 js-notification-show">
        <i class="fa fa-bell-o"></i>
        <span class="label"><?= $this->systemNotifications()->getCount() ?></span>
    </a>
    <ul class="dropdown-menu media-list pull-right animated fadeInDown">
        <li class="dropdown-header"><?= $this->translate('Notifications') ?> (<?= $this->systemNotifications()->getCount() ?>)</li>
        <?= $this->systemNotifications()->getNotifications(); ?>
        <li class="dropdown-footer text-center">
            <a href="<?= $this->url('notification', ['action' => 'list']); ?>"><?= $this->translate('View more'); ?></a>
        </li>
    </ul>
</li>
<script>
    $(document).ready(function () {
        $('.js-notification-show').on('click', function (e) {
            let ids = [];
            for (var i = 0; i < $('.js-notification-element').length; i++) {
                ids.push($($('.js-notification-element')[i]).attr('id'));
            }
            $.ajax({
                url: '<?= $this->url('notification', ['action' => 'view']) ?>',
                type: 'post',
                data: {
                    'notifications': ids
                },
                success: function (response) {
                    console.log(response);
                },
            })
        });
    });
</script>
