<li>
    <form class="navbar-form full-width">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter keyword" />
            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
        </div>
    </form>
</li>
