<?php
    $user = $this->identity();
    if ((isset($user['name']) && $user['name'] != '') && (isset($user['surname']) && $user['surname'] != '')) {
        $userName = $user['name'] . ' ' . $user['surname'];
    } elseif (isset($user['login']) && $user['login'] != '') {
        $userName = $user['login'];
    } else {
        $userName = $user['email'];
    }
?>
<?php if ($this->identity()): ?>
<li class="dropdown navbar-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-xs"></span><?= $userName ?> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu animated fadeInLeft">
        <li class="arrow"></li>
        <li><a href="<?= $this->url('auth/operation/manage', ['action' => 'index']); ?>"><?= $this->translate('Edit 
		Profile'); ?></a></li>
        <li class="divider"></li>
        <?= $this->roles(); ?>
        <li class="divider"></li>
        <li><a href="<?= $this->url('auth/logout') ?>"><?= $this->translate('Log out') ?></a></li>
    </ul>
</li>
<?php endif; ?>
